#home{
	background: #ffc107;
	color: white;
}


.caixa{
	padding: 60px 0px;
	border-bottom: 1px solid #e5e5e5;
}


footer p a {
	 margin:5px 15px;
}

.teste{
	z-index: -1;
	position: static;
}

.teste2{
	z-index: 4;
}
